/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* downloaded font - reey  */
@font-face {
    font-family: 'reey';
    src: url('../../fonts/Reey-Regular.ttf');
}



/* //////////////// */

.item {
    transition: 3s;
    /* width: 50%; */
    animation-name: slide;
    animation-duration: 5s;
    border-radius: 500px !important;
}


@keyframes slide {
    100% {
        /* opacity: 0; */
        transform: scale(1.5);
        overflow: hidden;
    }
}

.zoomed {
    animation-name: slide;
    animation-duration: 10s;
    /* animation-iteration-count: infinite; */
}

@keyframes slide {
    100% {
        /* opacity: 0; */
        transform: scale(1.5);
        overflow: hidden;
    }
}

.my-class {
    background-color: red;
    color: greenyellow;
}

/* ///////////////////// */



.carousel-item img {
    /* transition: 4s; */
}

.carousel-item:hover img {
    /* transform: scale(1.5); */
}


.carousel-img-1 {
    /* animation-name: slide; */
    /* animation-duration: 4s; */
    /* animation-iteration-count: infinite; */
}

@keyframes slide {
    100% {
        /* opacity: 0; */
        transform: scale(1.5);
        overflow: hidden;
    }
}





.carousel-img-overlay {
    position: absolute;
    /* background: rgba(39, 39, 39, 0.603); */
    background: rgba(39, 39, 39, 0.466);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn-circle {
    background-color: rgba(255, 102, 102, 0.245);
    width: 20px;
    /* height: 40px !important; */
    border-radius: 100px;
}


.carousel-img-1 {
    /* background-position: center;
    background-image: linear-gradient(45deg, rgba(255, 242, 0, 0.486), rgba(144, 24, 184, 0.402)), url('https://tevily-nextjs.vercel.app/_next/static/media/main-slider-1-2.4865c85b.jpg'); */


    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: white; */
    /* letter-spacing: 5px; */
    /* font-size: 3rem; */
    /* background-size: cover; */
}

.carousel-img-1 {
    background-color: rgba(0, 255, 60, 0.547);
}



.top-banner {
    position: relative;
}

.banner-title {
    /* background-color: rgb(122, 191, 255); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.travelAdventures {
    /* font-size: 60px; */
    font-family: 'reey';
    /* color: rgba(248, 89, 49, 0.743); */
    color: rgba(255, 81, 37, 0.743);
    /* font-weight: 500; */
}

.whereWould {
    /* font-size: 40px; */
    font-family: sans-serif, 'Inspiration', cursive;
    color: white;
    font-weight: 500;
}



/* ///////go exotic places section  */
.destination-list {
    color: rgb(255, 81, 37);
    font-size: 1.1rem;
    font-family: 'reey';
    margin-top: 150px;
}

.go-exotic-place-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(63, 63, 63);
    padding-bottom: 50px;
}

.gallery-images {
    /* display: flex; */
    /* gap: 20px; */
}

.gallery-image-div {
    position: relative;
}

.image-gl {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-image-overly {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #413c3b7f;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1s ease;
}

.gallery-image-div:hover .gallery-image-overly {
    bottom: 0;
    height: 100%;
}



.gallery-images>div {
    padding: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;

}

.gallery-images img {
    width: 100%;
    padding: 0;
    border-radius: 15px;
    transition: .5s;
    opacity: 1;
}


.gallery-images img:hover {
    transform: scale(1.2);
    /* opacity: .8; */
}

.gallery-btn-tours {
    white-space: nowrap;
    color: white;
    font-size: .8rem;
    position: absolute;
    overflow: hidden;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    background-color: rgb(232, 71, 30);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.gallery-btn-tours:hover {
    background-color: white;
    color: rgb(255, 81, 37);
}

.gallery-image-bottom-left-text {
    position: absolute;
    /* font-size: 30px; */
    font-size: 2.2rem;
    color: white;
    font-weight: 700;
    bottom: 50px;
    left: 50px;
}


.img-div-test {
    position: relative;
    /* width: 25%; */
    /* width: 200px; */
}

.overly-test {
    position: absolute;
    background-color: rgba(165, 42, 42, 0.478);
    width: 100%;
    height: 100%;
    top: 0;
    /* left: 0; */
}







/* ////// discount section  */
.discount-section {
    margin-top: 150px;
}

/* //left  */
.discount-image {
    position: relative;
    overflow: hidden;
}

.discount-image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 55%;
    text-align: left;

    /* background-color: aqua; */
}

.discount-image-overlay h2 {
    color: rgb(255, 81, 37);
    font-size: 4.2rem;
    font-family: 'reey';

}

.discount-image-overlay h3 {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 0;
}


/* right  */
.get-to-know-us {
    color: rgb(255, 81, 37);
    font-size: 1.1rem;
    font-family: 'reey';
}

.discount-section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(63, 63, 63);
}

.discount-info {
    text-align: left;
    background-color: rgba(207, 255, 239, 0.131);
    padding-left: 15px;
}

.discount-info p {
    color: gray;
    font-size: .9rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.discount-info h6 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(84, 85, 85);
    margin-bottom: 15px;
}

.discount-check-mark {
    color: rgb(228, 72, 33);
    ;
}

.book-with-us-now-button {
    background-color: rgba(238, 85, 46, 0.968);
    color: white;
    font-size: .8rem;
    margin-top: 50px;
}





/* ///////most popular tours  */
.featured-tours {
    margin-top: 150px;
    color: rgb(255, 81, 37);
    font-size: 1.1rem;
    font-family: 'reey';
}

.most-popular-tours-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(63, 63, 63);
    padding-bottom: 50px;
}

.most-popular-tours {
    /* background: red; */
}

.most-popular-tours div img {
    width: 100%;
}

.most-popular-tours .card .card-body h4 {
    /* background-color: red; */
    font-size: .9rem;
    font-weight: 700;
    color: rgb(61, 61, 61);
    padding-left: 3px;
}

.popular-location-icon {
    color: rgb(49, 49, 49);
}

.most-popular-tours .card .card-body h2 {
    color: rgb(255, 81, 37);
    font-weight: 600;
    font-size: 1.2rem;
}

.most-popular-tours .card .card-body .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;

}

.most-popular-tours .card .card-body .rating .mask {
    background-color: rgba(255, 81, 37, 0.872);
    font-size: .6rem;
    height: 18px;
}

.most-popular-tours .card .card-body .rating p {
    /* background-color: red; */
    font-weight: bold;
    font-size: .8rem;
    color: rgb(71, 71, 71);
}






/* ///max width sec  */
@media(max-width: 300px) {
    .flowbite-carousel-content-container {
        height: 80px;
    }

    .indicator {
        display: none;
    }

}

@media(max-width: 1024px) {
    .gallery-section div {
        margin-bottom: 13px;
    }

}




/* ///min width sec  */

@media(min-width:1024px) {
    .flowbite-carousel-content-container {
        height: 380px;
    }
}

@media(min-width:1300px) {
    .flowbite-carousel-content-container {
        height: 480px;
    }
}

@media(min-width:1536px) {
    .flowbite-carousel-content-container {
        height: 550px;
    }
}

@media(min-width:1636px) {
    .flowbite-carousel-content-container {
        height: 600px;
    }
}

@media(min-width:1736px) {
    .flowbite-carousel-content-container {
        height: 620px;
    }
}

@media(min-width:1900px) {
    .flowbite-carousel-content-container {
        height: 700px;
    }
}

@media(min-width:2050px) {
    .flowbite-carousel-content-container {
        height: 750px;
    }
}