/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* downloaded font - reey  */
@font-face {
    font-family: 'reey';
    src: url('../../fonts/Reey-Regular.ttf');
}

/* //////////////// */

.image {
    /* transition: 10s; */
    /* width: 50%; */
    animation-name: slide;
    animation-duration: 30s;
}

@keyframes slide {
    100% {
        /* opacity: 0; */
        transform: scale(1.5);
        overflow: hidden;
    }
}

.zoomed {
    animation-name: slide;
    animation-duration: 10s;
    /* animation-iteration-count: infinite; */
}

@keyframes slide {
    100% {
        /* opacity: 0; */
        transform: scale(1.5);
        overflow: hidden;
    }
}

.my-class {
    background-color: red;
    color: greenyellow;
}

/* ///////////////////// */



.carousel-item img {
    /* transition: 4s; */
}

.carousel-item:hover img {
    /* transform: scale(1.5); */
}


.carousel-img-1 {
    /* animation-name: slide; */
    /* animation-duration: 4s; */
    /* animation-iteration-count: infinite; */
}

@keyframes slide {
    100% {
        /* opacity: 0; */
        transform: scale(1.5);
        overflow: hidden;
    }
}





.carousel-img-overlay {
    position: absolute;
    background: rgba(39, 39, 39, 0.603);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn-circle {
    background-color: rgba(19, 13, 13, 0.245);
    width: 20px;
    /* height: 40px !important; */
    border-radius: 100px;
}


.carousel-img-1 {
    /* background-position: center;
    background-image: linear-gradient(45deg, rgba(255, 242, 0, 0.486), rgba(144, 24, 184, 0.402)), url('https://tevily-nextjs.vercel.app/_next/static/media/main-slider-1-2.4865c85b.jpg'); */


    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: white; */
    /* letter-spacing: 5px; */
    /* font-size: 3rem; */
    /* background-size: cover; */
}

.carousel-img-1 {
    background-color: rgba(0, 255, 60, 0.547);
}



.top-banner {
    position: relative;
}

.banner-title {
    /* background-color: rgb(122, 191, 255); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.travelAdventures {
    /* font-size: 60px; */
    font-family: 'reey';
    color: rgba(255, 81, 37, 0.743);
    /* font-weight: 500; */
}

.whereWould {
    /* font-size: 40px; */
    font-family: sans-serif, 'Inspiration', cursive;
    color: white;
    font-weight: 500;
}