.footer-main {
    background-color: rgb(52, 45, 71);
}

.footer-container {
    /* color: red; */
    color: rgb(180, 180, 180);
    font-weight: 600;
    font-size: 1rem;
    padding-top: 130px;
    padding-bottom: 130px;

    /* display: flex; */
    /* justify-content: space-around; */
    justify-content: space-between;
}

.footer-titles {
    color: white;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-subscribe-btm {
    background-color: rgb(246, 85, 44);
    border: none;
}

.footer-login {
    background-color: rgb(246, 85, 44);
    border: none;
}

.footer-hash {
    color: rgb(246, 85, 44);
}

.footer .items-center p {
    font-style: italic;
    color: rgb(59, 56, 56);
    font-size: .9rem;
    /* text-align: left; */
}

.footer-social-media-icon {
    color: rgb(246, 85, 44);
    cursor: pointer;
}

.footer-social-media-icon:hover {
    color: rgb(46, 28, 255);
}